<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nbcio.modules.estar.mapper.OaGzspbMapper">
	
	<!-- 根据年,月,部门 查询 -->
	<select id="getSalaryByDep" resultType="com.nbcio.modules.estar.entity.OaGzspb">
		select a.*,b.rssj registerdate,c.name username,d.DEPNAME depname from v_hrpay a left join bird.tab_rsda_zwxx b on a.empno=b.userid left join bird.tab_rsda_grxx c on a.empno=c.userid left join bird.bm d on a.depno=d.depno 
               where a.salaryyear= #{salaryyear} and a.salarymonth= #{salarymonth} and a.depno= #{depno}  order by empno
        <!--select a.*,b.realname,c.depart_name depname from oa_salary a left join sys_user b on a.username=b.username left join sys_depart c on a.org_code= c.id
               where a.salaryyear= 2022 and a.salarymonth= 1 and a.org_code='5159cde220114246b045e574adceafe9'   order by org_code       -->
	</select> 
	
	
</mapper>