<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nbcio.modules.estar.mapper.OaZbmhzbMapper">

    <!-- 根据年月、子部门编号获取工资汇总表-->
	<select id="getTotalSalaryBySubDep" resultType="com.nbcio.modules.estar.entity.OaZbmhzb">
	    select depname, sum(rs) rs,sum(jzhj) bysfgz,sum(jbf) byjbf,sum(sfjj) bysfjj,sum(ljzhj) sysfgz,sum(ljbf) syjbf,sum(lsfjj) sysfjj  from  ((select c.depname depname,a.rs,jzhj,jbf,sfjj,0 ljzhj,0 ljbf,0 lsfjj
          from salarydepsum a left join bonusdepsum b on a.bmbh=b.depno and a.salarytime=b.sj left join bird.bm c on c.depno=b.depno where a.bmbh=#{bmbh} and a.salarytime=#{salarytime})
          union (select c.depname depname,  0  ,0 ,0 ,0 ,jzhj ljzhj,jbf ljbf,sfjj lsfjj
          from salarydepsum a left join bonusdepsum b on a.bmbh=b.depno and a.salarytime=b.sj left join bird.bm c on c.depno=b.depno 
          where a.bmbh=#{bmbh} and a.salarytime=(select to_char(add_months(to_date(#{salarytime},'yyyymm'),-1),'yyyymm') from dual))) group by depname
	</select> 

</mapper>