<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nbcio.modules.demo.test_demo.mapper.TestDemoMapper">

    <select id="myPage" resultType="com.nbcio.modules.demo.test_demo.entity.TestDemo">
        select t.*,b.process_definition_key,
            b.process_definition_id,
            b.process_instance_id,
            b.title,
            b.data_id,
            b.service_impl_name,
            b.proposer,
            b.act_status,
            b.todo_users,
            b.done_users,
            b.priority,
            b.task_id,
            b.task_name_id,
            b.task_name
        from test_demo t left join flow_my_business b on b.data_id = t.id
            ${ew.customSqlSegment}
    </select>
</mapper>
